* {
    margin: 0;
    padding: 0;
    font-family: 'SUITE-Regular';
}

html, body {
    width:100%;
    overflow-x:hidden;
}
body{
	display:flex;
	flex-direction:column;
	min-height: 100vh;
	margin: 0 auto;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: black !important;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: none !important;
}

.btn-simple:hover {
    background: black !important;
    color: white !important;
}

.custom-checkbox {
    accent-color: black !important;
}

/********** Font **********/
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}


/********** A tag **********/
a:link{
    color: black !important;
    text-decoration: none !important;
}

a:visited {
    color: black !important;
}

a:hover { 
    color: black !important;
    text-decoration: none !important;
}

a:active {
    text-decoration: none !important;
}

/********** Button **********/
.btn-simple {
    text-align: center;
    width: 100%;
    color: white;
    background-color: black;
}

.btn-white {
    text-align: center;
    width: 100%;
    border: 1px solid black;
    color: black;
    background-color: white;
}


/********** Header **********/
.header{
position:fixed;
top:0;
left:0;
width:100%;
}

#navbarMini {
	width: 100%;
    font-size: 20px;
    background-color: #FFF;
}

#navbarNav {
    width: 100%;
    margin-top: -15px;
    font-size: 20px;
    background-color: #F6F6F6;
}

.logo {
    width: 150px;
    height: 50px;
    margin-left: 50%;
}


/********** Main **********/
.main1{
    margin-top: 95px;
}

.mainImg {
    width: 100%;
    margin: 0 auto;
    border-top: 1px solid black;
}

.mainItems {
    text-align: center;
    margin: 0 auto;
}

.mainItem {
    width: 100%;
    border: 1px solid black;
    border-right: 0px;
    border-bottom: 0px;
}

/********* floating *********/
.floating {
  position: fixed;
  right: 1%;
  bottom: 10%;
  z-index: 999999999;
}

ul{
  list-style: none;
  margin:0px; padding:0px;
}

.bi:hover{
	opacity: 0.5;
}

/********** Footer **********/
footer{
    width: 100%;
    padding: 2%;
    background-color:#252525;
    position : relative;
}

.footer-message{
    font-size: 12pt;
    color:#ffff;
}

.footer-copyright {
    font-size: 11pt;
    color:#ffff;
    margin-left: 80%;
}
.bi1{
	font-size:3rem;
}


/********** Sign-up **********/
.signUp {
	flex:1;
    margin:120px 30%;
}

.already {
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
}

.already:hover {
    text-decoration: underline !important;
}

/********** Sign-in **********/
.find {
    margin-left: 75%;
    text-align: center;
    text-decoration: underline;
}

.signImg {
    width: 20px;
    height: 20px;
    margin-top: -2px;
    margin-right: 8px;
}


/********** My-page **********/
.myPage{
		margin-top: 120px;
		flex:1;
}
.page {
    width: 70%;
}

.profile {
    width: 150px;
    height: 150px;
    margin-left: 20%;
}


/********** Basket **********/
.basket {
	margin-top:95px;
	flex:1;
    width: 70%;
}


/********** Wish **********/
.wish {
	margin-top: 95px;
	flex:1;
    width: 70%;
}

.wishImg {
    width: 140px;
}


/********** Product **********/

.product{
	margin-top: 120px;
	flex:1;
}
.productItems {
    text-align: center;
    margin: 0 auto;
}

.productItem {
    width: 100%;
}

.productItem:hover {
    width: 100%;
    border: 1px solid #252525 !important;
}


/********** Product-detail **********/
.product-detail {
    width: 90%;
    border: 1px solid black;
}


/********** Support **********/
.support{
	margin-top: 95px;
	flex:1;
    width: 70% !important;
}

.form-control:focus {
    box-shadow: none !important;
}

.accordion-button:after {
    background-image: none; /* Remove the background color arrow */
}

.pagination .page-link {
    color: #000 !important;
}
    
.page-item.active .page-link {
    background-color: #000;
    border-color: #000;
}

.pagination .page-link:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: none !important;
}


/********** Map **********/
.map{   
	margin-top: 95px;
	display:flex;
	justify-content:center;
	padding-top:5%;
	flex:1;
}
.mapbox{
    border-top: 2px solid black;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    width: 500px;
    height: 250px; 
}